body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer {
    height: 48px;
}

.header, .footer, .hero, a {
    background-color: #1f2937;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
 }

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}
